.card-icon1-container {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: rgba(212, 175, 55, 1);
}

.featured-listings-card-header {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 10px;
  right: 10px;
}



.recommendation-luxury-container {
  width: fit-content;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: linear-gradient(180deg, #d4af37 0%, #b8941f 100%);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.recommendation-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}

.recommendation-category {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(152, 16, 250, 1);
}

.recommendation-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

@media screen and (min-width: 511px) and (max-width: 1024px) {
  .recommendation-card-image {
    height: 200px;
  }

  .recommendation-cost {
    font-size: 14px;
  }

  .recommendation-category {
    font-size: 12px;
  }
}

@media screen and (max-width: 510px) {
  .featured-listings-card-header {
    top: 4px;
    right: 4px;
    gap: 2px;
  }

  .recommendation-cost {
    font-size: 9.41px;
    line-height: 14.64px;
  }

  .recommendation-category {
    font-size: 6.27px;
    line-height: 8.37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .recommendation-luxury-container {
    width: fit-content;
    height: auto;
    font-size: 6px;
    line-height: 9px;
    padding: 2px 5px;
    border-radius: 16px;
    gap: 2px;
    display: flex;
    align-items: center;
  }

  .recommendation-luxury-container svg {
    font-size: 8px;
    margin-bottom: 1px;
  }

  .featured-listings-time {
    font-size: 6.27px;
    line-height: 8.37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-icon1-container {
    width: 13.58px;
    height: 13.58px;
    border-radius: 50%;
    font-size: 7.31px;
  }
}
