.property-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

.property-available-container {
  width: fit-content;
  height: auto;
  background: rgba(0, 201, 80, 1);
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  color: #fff;
  border-radius: 32px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.property-card-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-card-footer-header {
  display: flex;
  flex-direction: column;
}

.property-rent {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.property-card-cost {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(212, 175, 55, 1);
}

.property-card-square-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1.25px solid rgba(229, 231, 235, 1);
}

.property-card-icon-container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(54, 65, 83, 1);
}

.property-icon {
  width: 16px;
  height: 16px;
  color: rgba(212, 175, 55, 1);
}

.property-deposit-container {
  display: flex;
  flex-direction: column;
}

.deposit-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(106, 114, 130, 1);
}

.deposit {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(30, 41, 57, 1);
}

.property-furnished-views-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.property-furnished-container {
  background: rgba(255, 248, 231, 1);
  width: fit-content;
  height: auto;
  padding: 8px 12px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(212, 175, 55, 1);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .property-card-container {
    max-width: 100%;
    height: 320px;
  }

  .property-card-image {
    height: 180px;
  }

  .property-available-price {
    font-size: 14px;
  }

  .property-card-title {
    font-size: 14px;
  }
}

@media screen and (max-width: 510px) {
  .property-card-header {
    top: 4px;
    left: 4px;
    right: 4px;
  }

  .property-available-container {
    padding: 3px 5px;
    font-size: 6px;
    line-height: 8px;
  }

  .property-card-footer {
    padding: 4px;
  }

  .property-rent {
    font-size: 5px;
    line-height: 8px;
  }

  .property-card-cost {
    font-size: 7px;
    line-height: 10px;
  }

  .property-card-square-container {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .property-card-icon-container {
    font-size: 7px;
    line-height: 10px;
    gap: 2px;
  }

  .property-icon {
    width: 8px;
    height: 8px;
  }

  .deposit-heading {
    font-size: 6px;
    line-height: 8px;
  }

  .deposit {
    font-size: 7px;
    line-height: 10px;
  }

  .property-furnished-views-container {
    gap: 4px;
  }

  .property-furnished-container {
    padding: 3px 5px;
    font-size: 6px;
    line-height: 8px;
  }

}
