.home-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Tablet - iPad Mini (744px), iPad Air (820px), iPad Pro (820px-1024px) */
@media screen and (min-width: 511px) and (max-width: 1024px) {
  .home-page-container {
    gap: 24px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 510px) {
  .home-page-container {
    gap: 12px;
  }
}